<div class="address-card">
    <h1 class="name">{{user.name}}</h1>
    <h3 class="occupation">{{user.occupation}}</h3>
    <p class="address">{{user.address}}</p>
    <button *ngIf="is_collapsed" (click)="toggle_collapse()"> Expand </button>
    <button *ngIf="!is_collapsed" (click)="toggle_collapse()"> Collapse </button>
    <div *ngIf="!is_collapsed">
      <div class="phone" *ngIf="user.phone.length">
        <p>Phone</p>
        <p *ngFor="let phone_number of user.phone">{{phone_number}}</p>
      </div>
    </div>
</div>
